.navbar{
  display: flex;
  justify-content: space-around;
  background-color: rgb(71, 71, 177);
  padding: 15px;
  color: white;
}
input{
  width:400px;
  border-radius: 5%;
}
.brand{
  padding-right: 60px;
  font-weight:900;
  width: 20%;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.search-bar{
  width: 60%;
  padding-left: 80px;
}
.search-bar input{
  width: 80%;
  text-align: center;
  font-weight: 500;
}
.cart{
  width: 20%;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
.navbarWrapper{
  display: flex;
  justify-content: space-around;
  background-color: rgb(10, 7, 57);
  padding: 20px;
  color: white;
  font-weight: bold;
}
.img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img img{
  width: 350px;
  height: 350px;
}
.con{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  text-align: center;
}
.con-btn{
  display: flex;
  height: 50px;
}
.relatedProductHeading{
   text-align: center;
}